{
  "author" "Mingjian Wen"
  "contributor-id" "5ca58a6a-aa46-4e5a-a2e1-b3fc6bc2efa6"
  "description" "This is a three-body Stillinger-Weber potential model for the II-VI elements Zn-Cd-Hg-S-Se-Te.  It is fitted to reproduce the experimemtal cohesive energy, lattice constant, and bulk modulus."
  "domain" "openkim.org"
  "extended-id" "Three_Body_Stillinger_Weber_CdTeZnSeHgS__MO_503261197030_001"
  "kim-api-version" "2.0"
  "maintainer-id" "5ca58a6a-aa46-4e5a-a2e1-b3fc6bc2efa6"
  "model-driver" "Three_Body_Stillinger_Weber__MD_335816936951_003"
  "publication-year" "2018"
  "source-citations" [{"author" "Stillinger, Frank H. and Weber, Thomas A."
                       "doi" "10.1103/PhysRevB.31.5262"
                       "issue" "8"
                       "journal" "Physical Review B"
                       "month" "Apr"
                       "pages" "5262--5271"
                       "publisher" "American Physical Society"
                       "recordkey" "MO_503261197030_000a"
                       "recordtype" "article"
                       "title" "Computer simulation of local order in condensed phases of silicon"
                       "volume" "31"
                       "year" "1985"}
                       {"author" "E. B. Tadmor and R. E. Miller"
                       "publisher" "Cambridge University Press"
                       "recordkey" "MO_503261197030_000b"
                       "recordtype" "book"
                       "title" "Modeling Materials: {C}ontinuum, Atomistic and Multiscale Techniques"
                       "year" "2011"}
                       {"author" "Zhou, X. W. and Ward, D. K. and Martin, J. E. and van Swol, F. B. and Cruz-Campa, J. L. and Zubia, D."
                       "doi" "10.1103/PhysRevB.88.085309"
                       "issue" "8"
                       "journal" "Physical Review B"
                       "month" "Aug"
                       "numpages" "14"
                       "pages" "085309"
                       "publisher" "American Physical Society"
                       "recordkey" "MO_503261197030_000c"
                       "recordtype" "article"
                       "title" "Stillinger--{W}eber potential for the {II}-{VI} elements {Zn}-{Cd}-{Hg}-{S}-{Se}-{Te}"
                       "volume" "88"
                       "year" "2013"}]
  "species" ["Cd" "Te" "Zn" "Se" "Hg" "S"]
  "title" "A three-body Stillinger-Weber (SW) Model (Parameterization) for Zn-Cd-Hg-S-Se-Te"}
